<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Weclome to Itstory</p>
    <p>I love you Danli Baby!</p>
  </body>
</html>
