<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/main.min.css' />
  </head>
  <body>
    <h1 class="itstory-header"><%= title %></h1>
    <h4 class="itstory-welcome">Weclome to Itstory</h4>
    <h4 class="itstory-danli">I love you Danli Baby!</h4>
  </body>
</html>
