
.itstory-header {
    font-family: "Aviator-BoldVintage";
    font-size: 15rem;
    color: #404f58;
}

.itstory-welcome {
    font-size: 2rem;
    color: #404f58;
}

.itstory-danli {
    font-size: 1rem;
    color: #404f58;
}

body {
    font-family: "OldStandard-Vintage";
    background-image: url('/assets/background_images/exclusive_paper.png');
    background-repeat: repeat;
    text-align: center;
}