@font-face {
	font-family: "Aviator-BoldVintage";
	src: url("../assets/fonts/Aviator-BoldVintage.otf") format("opentype"),
		 url("../assets/fonts/Aviator-BoldVintage.ttf") format("truetype");
}

@font-face {
	font-family: "OldStandard-Vintage";
	src: url("../assets/fonts/OldStandard-Vintage.otf") format("opentype"),
		 url("../assets/fonts/OldStandard-Vintage.ttf") format("truetype");
}